NODE_ENV=production
PORT=3000
SERVER_URL=<SERVER_URL>

MONGODB_URI=mongodb://<MONGO_ROOT_USERNAME>:<MONGO_ROOT_PASSWORD>@mongodb:27017/ele_admin?authSource=admin
MONGO_ROOT_USERNAME=<MONGO_ROOT_USERNAME>
MONGO_ROOT_PASSWORD=<MONGO_ROOT_PASSWORD>

# MongoDB 初始化变量（必须与上面保持一致）
MONGO_INITDB_ROOT_USERNAME=<MONGO_ROOT_USERNAME>
MONGO_INITDB_ROOT_PASSWORD=<MONGO_ROOT_PASSWORD>

JWT_SECRET=<JWT_SECRET>
JWT_EXPIRES_IN=7d

CORS_ORIGIN=<CORS_ORIGIN>

LOG_RETENTION_DAYS=30
RESPONSE_TIME_ZONE=Asia/Shanghai

UPLOAD_PATH=./src/uploads
UPLOAD_MAX_SIZE=10485760
